<div id="maincontainer" style="border-style: solid">

 <div id="categorycontainer">
  <div id="labelcontainer" style="border-style: solid;border-color: blue;">
      <div style="float: left;padding-left: 10px;">Label 1</div>
      <div style="float: right;padding-right: 10px;"><a href="/browse/moreitems">More</a></div>
      <div style="clear: left"></div>
  </div>

  <div id="itemscontainerwrapper" style="border-style: solid;border-color: red;display: -ms-flex; display: -webkit-flex; display: flex; align-items: center;">
      <div style="width:5%;border-style: solid;border-color: blueviolet;"><a id="left-button">&#10094;</a></div>
      <div id="itemscontainer" style="width:90%;border-style: solid;border-color: aqua;">
        <div id="item" class="floatleft" style="border-style: solid;">
          <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
          <div style="text-align: center"><a href="/browse/details">Name</a></div>
          <div style="text-align: center;padding-bottom: 10px;">Price</div>
        </div>
      </div>
      <div style="width:5%;border-style: solid;border-color: brown;"><a id="right-button">&#10095;</a></div>
  </div>
 </div>

<!-- Replace with for loop -->
<div id="categorycontainer">
 <div id="labelcontainer" style="border-style: solid;border-color: blue;">
  <div style="float: left;padding-left: 10px;">Label 2</div>
  <div style="float: right;padding-right: 10px;"><a style="float: right;">More</a></div>
  <div style="clear: left"></div>
</div>

<div id="itemscontainerwrapper" style="border-style: solid;border-color: red;display: -ms-flex; display: -webkit-flex; display: flex; align-items: center;">
  <div style="width:5%;border-style: solid;border-color: blueviolet;"><a id="left-button">&#10094;</a></div>
  <div id="itemscontainer" style="width:90%;border-style: solid;border-color: aqua;">
    <div id="item" style="float: left;">
      <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
      <div style="text-align: center">Name 1</div>
      <div style="text-align: center">Price: 10000Rs</div>
      <div style="clear: left;"></div>
    </div>

    <div id="item" style="float: left;">
      <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
      <div style="text-align: center">Name 2</div>
      <div style="text-align: center">Price:1000Rs</div>
      <div style="clear: left;"></div>
    </div>

    <div id="item" style="float: left;">
      <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
      <div style="text-align: center">Name 1</div>
      <div style="text-align: center">Price: 10000Rs</div>
      <div style="clear: left;"></div>
    </div>

    <div id="item" style="float: left;">
      <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
      <div style="text-align: center">Name 2</div>
      <div style="text-align: center">Price:1000Rs</div>
      <div style="clear: left;"></div>
    </div>
  </div>
  <div style="width:5%;border-style: solid;border-color: brown;"><a id="right-button">&#10095;</a></div>
</div>
</div>

</div>
