<div id="moreitemscontainer">

<div>
  Category name
</div>
<br>

<div id="moreitemscontainerwrapper" 
  style="border-style: solid;border-color: red;display: -ms-flex; display: -webkit-flex; display: flex; align-items: center;">
  <div id="moreitemscontainer" style="border-style: solid;border-color: aqua;">
    <div id="item" class="floatleft" style="border-style: solid;">
      <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
      <div style="text-align: center"><a href="/browse/details">Name</a></div>
      <div style="text-align: center;padding-bottom: 10px;">Price</div>
    </div>
  </div>

  <div id="moreitemscontainer" style="border-style: solid;border-color: aqua;">
    <div id="item" class="floatleft" style="border-style: solid;">
      <img src="http://localhost:4200/assets/images/items/item.png" alt=""/>
      <div style="text-align: center"><a href="/browse/details">Name</a></div>
      <div style="text-align: center;padding-bottom: 10px;">Price</div>
    </div>
  </div>
</div>

</div>
